body {font-family: Arial;}

.tab {
    overflow: hidden;
    text-align: center;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
}

.tab button:hover {
    padding: 1% 1%;
}

.tabcontent {
    position: relative;
    border: 1% solid #f3f3f3;
    display: none;
}

.tabcontent button.runbutton {
    position: absolute;
    bottom: 1%;
    right: 1%;
}