#astar {
    background-color: #fff;
    border: 2px solid #000;
    border-top: none;
    display: none;
    min-height: 48vw;
    position: relative;
}

#astar button.btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
    position: absolute;
    bottom: 0.6vw;
    right: 1vw;
	outline: none;
	border: 1px solid #000000;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 1rem;
	font-weight: 600;
	text-decoration: none;
	color: white;
	background-color: #7db8ff;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;

    font-family: 'Cuprum', sans-serif;
}

#astar button.btn:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}

#astar button.btn:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

#astar button.btn:active {
	background-color: #2b8aff;
}

#astar button.btn:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}

#astar-div {
    display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93.5%;
    border-bottom: 2px solid #000;
    background-color: rgb(255, 255, 255);
}

#astar-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
}