#astar {
    background-color: #fff;
    border: 2px solid #000;
    border-top: none;
    display: none;
    min-height: 48vw;
    position: relative;
}

#astar button.button-run {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    background-color: #7db8ff;
    transition: padding 0.3s;
    transition: font-size 0.3s ease-in-out;
    border: 2px solid #000;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Cuprum', sans-serif;
}

button:hover {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.3rem;
}

#astar-div {
    display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93.5%;
    border-bottom: 2px solid #000;
    background-color: rgb(255, 255, 255);
}

#astar-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
}